[Unit]
Description=NapCat QQ Bot
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
WorkingDirectory=/root/Napcat
Environment=HOME=/root
ExecStart=/usr/bin/xvfb-run -a /root/Napcat/opt/QQ/qq --no-sandbox
StandardOutput=append:/var/log/napcat.log
StandardError=append:/var/log/napcat.log

[Install]
WantedBy=multi-user.target
